.header {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  position: absolute;
  top: 0;
  padding-top: 2rem;
}

.helpIcon {
  filter: invert(0);
  opacity: 0.5;
  cursor: pointer;
  position: absolute;
  right: 0;
}
