
.modalHeader {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.5rem 1rem;
  color: #333;
  text-transform: uppercase;
  color: white;
  margin-bottom: 2rem;
}

.close {
  cursor: pointer;
  position: absolute;
  top: 22px;
  right: 24px;
  opacity: 0.7;
}

.overlay {
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.instructions {
  color: #D2D2D7;

  ol li {
    counter-increment: muffins;
  }

  ol li:before {
    content: counter(muffins) ". ";
    color: #CE82C7;
  }

  ol {
    list-style: none;
    counter-reset: muffins;
  }
}

.modal {
  position: absolute;
  top: 40px;
  left: 40px;
  right: 40px;
  bottom: 40px;
  background-color: #141A32;
  border-radius: 16px;
  border: 2px solid #2F3763;
  color: white;
  padding: 16px;
  line-height: 20px;
  width: 300px;
  height: 500px;
  margin: auto auto;

  & hr {
    opacity: 0.3;
  }

  & ol {
    padding-inline-start: 0px;
  }

  @media (min-width: 512px) {
    & ol {
      padding-inline-start: 40px;
    }
    width: 500px;
    height: 500px;
    padding: 12px;
    border-radius: 16px;
  }
}

.modalFooter {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.message {
  color: #CE82C7;
  font-size: 16px;
  margin-bottom: 16px;

  @media (min-width: 512px) {
    font-size: 20px;
  }
}

.feedback {
  color: #6E6D6E;
  font-size: 16px;
}

.imageContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2rem 0;
}

.instructionImage {
  max-width: 150px;
  object-fit: contain;

  @media (min-width: 512px) {
    max-width: 200px;
  }
}