.pushable {
  position: relative;
  border: none;
  background: transparent;
  padding: 0;
  cursor: pointer;
  outline-offset: 4px;
  transition: filter 250ms;

  &:hover {
    filter: brightness(110%);
  }

  &:hover .front {
    transform: translateY(-7px);
    transition:
      transform
      250ms
      cubic-bezier(.3, .7, .4, 1.5);
  }
  &:active .front {
    transform: translateY(-2px);
    transition: transform 34ms;
  }
  &:hover .shadow {
    transform: translateY(4px);
    transition:
      transform
      250ms
      cubic-bezier(.3, .7, .4, 1.5);
  }
  &:active .shadow {
    transform: translateY(1px);
    transition: transform 34ms;
  }
  &:focus:not(:focus-visible) {
    outline: none;
  }
}

.disabled {
  cursor: not-allowed;
  opacity: 0.5;

  .front {
    background: #6E6D6E;
  }

  .edge {
    background: linear-gradient(
      to left,
      #2C3036 0%,
      #505050 8%,
      #505050 92%,
      #2C3036 100%
    );
  }

  img {
    opacity: 0.3;
  }
}
.shadow {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 12px;
  background: hsl(0deg 0% 0% / 0.25);
  will-change: transform;
  transform: translateY(2px);
  transition:
    transform
    600ms
    cubic-bezier(.3, .7, .4, 1);
}
.purpleEdge {
  background: linear-gradient(
    to left,
    #1F295B 0%,
    #2F3763 8%,
    #2F3763 92%,
    #1F295B 100%
  );
}
.orangeEdge {
  background: linear-gradient(
    to left,
    #630907 0%,
    #921715 8%,
    #921715 92%,
    #630907 100%
  );
}
.greenEdge {
  background: linear-gradient(
    to left,
    #1C5E46 0%,
    #17845D 8%,
    #17845D 92%,
    #1C5E46 100%
  );
}
.yellowEdge {
  background: linear-gradient(
    to left,
    #6E5308 0%,
    #A88A32 8%,
    #A88A32 92%,
    #6E5308 100%
  );
}
.edge {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 12px;
}
.purpleFront {
  color: white;
  background: #8D5BE9;
}
.orangeFront {
  color: white;
  background: #D84E4B;
}
.greenFront {
  color: white;
  background: #0AB377;
}
.yellowFront {
  color: white;
  background: #FFCD00;
}
.front {
  display: block;
  position: relative;
  padding: 10px 24px;
  border-radius: 12px;
  font-size: 16px;
  img {
    height: 14px;
  }
  will-change: transform;
  transform: translateY(-5px);
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 3px;
  transition:
    transform
    600ms
    cubic-bezier(.3, .7, .4, 1);

  @media (min-width: 512px) {
    padding: 12px 42px;
    font-size: 20px;
    img {
      height: 20px;
    }
  }
}

.narrow {
  // max-width: 65px;
}
