.rack {
  margin-top: 2rem;
  position: relative;
  width: 500px;
  height: 76px;
  border: 10px solid #D3DEDC;
  border-radius: 4px;
  background-color: #D3DEDC;
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
}