.instructions {
  color: #D2D2D7;

  ol li {
    counter-increment: muffins;
  }

  ol li:before {
    content: counter(muffins) ". ";
    color: #CE82C7;
  }

  ol {
    list-style: none;
    counter-reset: muffins;
  }
}