.timeContainer {
  color: #6E6D6E;
  margin-top: -6px;
  margin-bottom: 6px;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  opacity: 0.2;
}
.timeTaken {
  align-self: flex-end;
  font-size: 14px;

  @media (min-width: 512px) {
    font-size: 16px;
  }
}

.solved {
  opacity: 1;
}