.timeContainer {
  color: #6E6D6E;
  margin-top: -6px;
  margin-bottom: 6px;
  opacity: 0.4;
  width: 100%;
  display: flex;
  justify-content: flex-end;
}
.timeTaken {
  align-self: flex-end;

}

.hidden {
  opacity: 0.1;
}