.timeContainer {
  color: #6E6D6E;
  margin-bottom: 4px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  opacity: 0.2;
  font-size: 14px;

  @media (min-width: 512px) {
    font-size: 16px;
  }
}
.timeTaken {
  align-self: flex-end;
  margin-bottom: 2px;
}

.solved {
  opacity: 1;
}

.wordsFoundCount {
  display: flex;
  align-items: center;
}

.star {
  margin-right: 8px;
}