.wordListContainer {

  & h2, h3 {
    color: #CE82C7;
  }
  & ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
}

.wordList {
  display: flex;
  flex-wrap: wrap;
}

.word {
  color: white;
  text-transform: uppercase;
  margin-bottom: 8px;
  margin-right: 8px;
  opacity: 0.3;
  // cursor: pointer;
}

.letterSectionHeader {
  display: flex;
  align-items: center;
  color: #5A6583;

  & h3 {
    margin-right: 1rem;
  }
}

.displayLetter {
  color: white;
  font-weight: bold;
  font-size: 20px;
  text-transform: uppercase;
  margin-right: 6px;
  cursor: pointer;
  opacity: 0.3;
}

.highlighted {
  // background: #CE82C7;
  opacity: 1;
}

.importantLettersContainer {

  .importantLettersRow {
    margin-bottom: 6px;
    display: flex;
    align-items: center;

    > img {
      opacity: 0.5;
      cursor: pointer;
      width: 20px;
      margin-left: 8px;
    }
  }
  .instructions {
    color: #5A6583;
    font-size: 14px;
  }
}
