.container {
  max-width: 350px;

  height: 100vh;
  margin: 0 auto;

  @media (min-width: 512px) {
    max-width: 500px;
  }
}

.main {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  
  & h1 {
    font-size: 20px;
    color: white;
    text-transform: uppercase;
    font-family: 'Rubik', sans-serif;
    letter-spacing: 6px;

    @media (min-width: 512px) {
      font-size: 32px;
    }
  }
}

.game {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 350px;
  @media (min-width: 512px) {
    max-width: 500px;
  }
}

.footer {
  display: flex;
  padding-bottom: 1rem;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  span {
    margin: 0 12px 0 8px;
  }
  
  .subtext {
    color: #6E6D6E;
    text-transform: uppercase;
    font-size: 10px;
    font-weight: bold;
    letter-spacing: 1px;
    margin-bottom: 4px;

    @media (min-width: 512px) {
      font-size: 11px;
    }
  }
}

.toaster {

}

.toasterContainer {
  // background-color: #141A32;
  // border-radius: 16px;
  // border: 2px solid #2F3763;
}